body {
  display: flex;
  flex-direction: column;
}

mat-toolbar {
  margin-top: auto;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

mat-form-field{
width: auto;
  margin-top: 20px;
height: auto;
  border-radius: 30px;
  scale: 70%;
}
.example-spacer {
  flex: 1 2 ;
}
