body {
  display: flex;
  background-image: url("https://www.teahub.io/photos/full/279-2791459_minimalist-wallpaper-4k.jpg");
  background-size: cover;
  background-blend-mode: color;

}

mat-toolbar {
  margin-top: auto;
  background-color: #181b28;
}
.title{
  margin-right: 10px;

}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

mat-form-field{
width: auto;
  margin-top: 20px;
height: auto;
  border-radius: 30px;
  scale: 70%;
}
.example-spacer {
  flex: 1 2 ;
}
